extends base
include kit/nav-principale
include kit/nav-fil-ariane

block append styles
  link(href='/assets/styles/campagne/campagne.css', rel='stylesheet')
  link(href='/assets/styles/campagne/campagne.tablette.css', rel='stylesheet')
  link(href='/assets/styles/campagne/campagne.desktop.css', rel='stylesheet')

block body
  +navPrincipale()
  +navFilAriane('Découvrir la campagne')

  #campagne
    .bloc-noir
      h1 Demain, Spécialiste Cyber
      h2 Une campagne dédiée aux métiers liés à la cybersécurité
    #pourquoi-campagne-cyber
      h3 Pourquoi une campagne cyber ?
      p DemainSpécialisteCyber est une campagne nationale co-construite par l’ANSSI et son laboratoire d’innovation, le Ministère de l’Education Nationale et de la Jeunesse et le Campus Cyber, en vue de valoriser la cybersécurité et ses métiers auprès des collégien/nes, lycéen/nes mais aussi étudiant/es.
      p Vous pouvez relayer cette campagne grâce à nos contenus : vidéos, affiches et visuels pour réseaux sociaux.
    #personnages.bloc-noir
      h3 Redécouvre les personnages de la campagne
      .carrousel#carrousel-personnages
          each p in personnages
            img(src=`/assets/images/${p.idImage}.svg`).image-personnage
      .carrousel-navigation
        .fleche.fleche-gauche
          img(src="/assets/images/fleche-gauche-blanche.svg")
        .fleche.fleche-droite
          img(src="/assets/images/fleche-droite-blanche.svg")
      #description-carrousel
          each p, idx in personnages
            .contenu-personnage(data-id-personnage=idx)
              h4= `${p.nom}, ${p.age} ans`
              h5= p.poste
              p= p.accroche
              p= p.description

    #affiches-visuels
      h3 Les affiches et visuels
      .responsive-invisible-tablette
        p Télécharge les 6 affiches au format A3 ainsi que des visuels pour les réseaux sociaux
        #lien-kit
          a(href="/kit-communication")
            button.action Kit de communication
      .responsive-visible-tablette#telechargement-kit
        p Télécharge les 6 affiches au format A3 ainsi que des visuels pour les réseaux sociaux.
        a(href="/kit-communication")
          button.action Télécharge le kit de communication
    #videos-metiers
      h3 Découvre leurs métiers en vidéo
      img(src="/assets/videos/agir-video-1-placeholder.png")
      .conteneur-action.responsive-invisible-tablette
        button.action.action-copier Copier le lien
      .conteneur-action.responsive-visible-tablette
        button.action.action-copier Copier le lien de cette vidéo
      img(src="/assets/videos/agir-video-2-placeholder.png")
      .conteneur-action.responsive-invisible-tablette
        button.action.action-copier Copier le lien
      .conteneur-action.responsive-visible-tablette
        button.action.action-copier Copier le lien de cette vidéo

  .gap
  script(type='text/javascript' src='/assets/scripts/campagne.js')