extends base
include kit/nav-principale
include kit/nav-fil-ariane

block append styles
  link(href='/assets/styles/espace-enseignant/espace-enseignant.css', rel='stylesheet')

block body
  +navPrincipale()
  +navFilAriane('Espace enseignant')

  #titre
    h2 Vous êtes enseignant·e ?
    h4 Ou vous travaillez au sein du ministère de l’éducation nationale et de la jeunesse ?

  each chapitre in ressources
    .chapitre
      h3 #{chapitre.titre}
      if chapitre.accroche
        .accroche #{chapitre.accroche}
      .ressources
        each r in chapitre.ressources
          .ressource
            .nom #{r.nom}
            if r.details
              .detail #{r.details}
            a.fichier(href=r.url class=r.classe) #{r.fichier}
