extends base
include kit/nav-principale
include kit/nav-fil-ariane

block title
  title Découvrez les métiers | DemainSpécialisteCyber

block append styles
  link(href='/assets/styles/metiers/metiers.css', rel='stylesheet')
  link(href='/assets/styles/metiers/metiers.tablette.css', rel='stylesheet')
  link(href='/assets/styles/metiers/metiers.desktop.css', rel='stylesheet')

mixin maisAussiMobile()
  .mais-aussi.responsive-invisible-tablette
    h3 C'est aussi d'autres métiers…
    .details.
      Découvre plus de métiers de la cybersécurité dans le Panorama des métiers,
       un document proposé par l’ANSSI
    .action-boite
      a(href="https://www.ssi.gouv.fr/uploads/2021/10/anssi-panorama_metiers_cybersecurite-2020.pdf" target="_blank").action Accède au panorama

mixin maisAussiTablette()
  .mais-aussi.responsive-visible-tablette
    .mais-aussi-boite
      h3 C'est aussi d'autres métiers…
      .details
        | Découvre plus de métiers de la cybersécurité dans le Panorama des métiers de la cybersécurité,
        |  un document proposé par l’ANSSI.
        a(href="https://www.ssi.gouv.fr/uploads/2021/10/anssi-panorama_metiers_cybersecurite-2020.pdf" target="_blank").action Accède au panorama


block body
  +navPrincipale()
  +navFilAriane('Découvrir les métiers')

  #decouvre(class=`${focusMetier ? 'focus-metier': ''}`)
    h1 Découvre les métiers des Spécialistes Cyber
    if(focusMetier)
        #focus-metier
          .conteneur-image
            img(src=`/assets/videos/fiche-metier-video-${focusMetier.idVideo}-placeholder.png`)
          .details
            .identite #{focusMetier.identite}
            .metier #{focusMetier.metier}
            p!= focusMetier.description
            h3 Formation
            p!= focusMetier.formation
            h3 Posture
            .postures
              each p in focusMetier.posture
                  span= p
            h3#metiers-proches Métiers proches
            .metiers-proches
              each m in focusMetier.metiersProches
                  p= m
        #decouvre-autre-metier
          h3 Découvre aussi leur métier...
    .fiches
      each f, index in fichesMetiers
        if(index > 0 && index % 3 === 0)
          +maisAussiMobile()

        .fiche-metier
          img(src=`/assets/videos/fiche-metier-video-${f.idVideo}-placeholder.png` alt=`Photo de profil de ${f.identite}`)
          .details
            .identite #{f.identite}
            .metier #{f.metier}
            a(href=`/les-metiers?metier=${f.id}`).en-savoir-plus En savoir plus

    +maisAussiMobile()
    +maisAussiTablette()