extends base
include kit/nav-principale
include kit/nav-fil-ariane

block title
  title Espace enseignant | DemainSpécialisteCyber

block append styles
  style
    include ../public/assets/styles/espace-enseignant/espace-enseignant.css
    include ../public/assets/styles/espace-enseignant/espace-enseignant.tablette.css
    include ../public/assets/styles/espace-enseignant/espace-enseignant.desktop.css

block body
  +navPrincipale(false, "/espace-enseignant")
  +navFilAriane('Espace enseignant')

  #titre
    h1 Vous êtes enseignant·e ?
    h2 Ou vous travaillez au sein du ministère de l’éducation nationale et de la jeunesse ?

  .chapitres
    each chapitre in ressources
      .chapitre
        h3 #{chapitre.titre}
        if chapitre.accroche
          .accroche #{chapitre.accroche}
        .ressources
          each r in chapitre.ressources
            a.ressource(
              href=r.url
              title=`${r.classe === 'site' ? r.fichier + ' | ' + 'Nouvelle fenêtre' : 'Télécharger le fichier au format ' + r.fichier}`
              target="_blank"
              rel="noopener noreferrer"
            )
              .nom #{r.nom}
              if r.details
                .detail #{r.details}
              .fichier(class=r.classe) #{r.fichier}

  .formations
    .formation
      h3 Formez-vous à la cyber
      .ressources
        each f in formations
          a.ressource(
            href=f.url
            title=`${f.classe === 'site' ? f.fichier + ' | ' + 'Nouvelle fenêtre' : 'Télécharger le fichier au format ' + f.fichier}`
            target="_blank"
            rel="noopener noreferrer"
          )
            .nom #{f.nom}
            if f.details
              .detail #{f.details}
            .fichier(class=f.classe) #{f.fichier}

  .gap