extends base
include kit/nav-principale
include kit/nav-fil-ariane

block title
  title Découvrez les métiers | DemainSpécialisteCyber

block append styles
  style
    include ../public/assets/styles/metiers/metiers.css
    include ../public/assets/styles/metiers/metiers.tablette.css
    include ../public/assets/styles/metiers/metiers.desktop.css

mixin maisAussiMobile()
  .mais-aussi.responsive-invisible-tablette
    h3 C'est aussi d'autres métiers…
    .details.
      Découvre plus de métiers de la cybersécurité dans le Panorama des métiers,
       un document proposé par l’ANSSI
    .action-boite
      a(href="https://www.ssi.gouv.fr/uploads/2021/10/anssi-panorama_metiers_cybersecurite-2020.pdf" target="_blank" rel="noopener noreferrer" title="Accède au panorama | Nouvelle fenêtre").action Accède au panorama

mixin maisAussiTablette()
  .mais-aussi.responsive-visible-tablette
    .mais-aussi-boite
      h3 C'est aussi d'autres métiers…
      .details
        | Découvre plus de métiers de la cybersécurité dans le Panorama des métiers de la cybersécurité,
        |  un document proposé par l’ANSSI.
        a(href="https://www.ssi.gouv.fr/uploads/2021/10/anssi-panorama_metiers_cybersecurite-2020.pdf" target="_blank" rel="noopener noreferrer" title="Accède au panorama | Nouvelle fenêtre").action Accède au panorama


block body
  +navPrincipale(false, "/les-metiers")
  +navFilAriane('Découvrir les métiers')

  #decouvre(class=`${focusMetier ? 'focus-metier': ''}`)
    h1 Découvre les métiers des spécialistes cyber
    if(focusMetier)
        #focus-metier
          .conteneur-image
            video(
              src=process.env.URL_SERVEUR_MEDIA + `/videos/${focusMetier.idVideo}_720p.mp4`
              controls
              poster=process.env.URL_SERVEUR_MEDIA + `/videos/${focusMetier.idVideo}.png`
            )
          .details
            .identite #{focusMetier.identite}
            .metier #{focusMetier.metier}
            p!= focusMetier.description
            h3 Formation
            p!= focusMetier.formation
            h3 Posture
            .postures
              each p in focusMetier.posture
                  span= p
            h3#metiers-proches Métiers proches
            .metiers-proches
              each m in focusMetier.metiersProches
                  p= m
        #decouvre-autre-metier
          h3 Découvre aussi leur métier...
    .fiches
      each f, index in fichesMetiers
        a(href=`/les-metiers?metier=${f.id}` title=`En savoir plus sur le métier de ${f.metier}`).fiche-metier
          img(src=process.env.URL_SERVEUR_MEDIA + `/videos/${f.idVideo}.png` alt=`Photo de profil de ${f.identite}`)
          .details
            .identite #{f.identite}
            .metier #{f.metier}
          img.fleche-lien(src="/assets/images/fleche-droite-grise.svg")

    +maisAussiMobile()
    +maisAussiTablette()

  script(src='/assets/scripts/control-debit.js')