block append styles
  style.
      #carrousel-personnages {
          display: flex;
          flex-direction: row;
          column-gap: 10vw;
      }

      #carrousel-personnages > * {
          scroll-snap-align: center;
      }

      .carrousel-navigation {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 8px;
          padding-top: 12px;
      }

      .fleche {
          width: 40px;
          height: 40px;
          padding: 8px;
          background: #234c9a;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
      }

      .fleche img {
          width: 32px;
          height: 32px;
      }

      .conteneur-carrousel {
          position: relative;
      }

      .filtre-carrousel {
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100vw;
          background: linear-gradient(
                  to right,
                  var(--noir) 0%,
                  transparent 30%,
                  transparent 70%,
                  var(--noir) 100%
          );
      }

      #carrousel-personnages .image-personnage {
          width: 70vw;
          max-width: 600px;
          flex-shrink: 0;
          position: relative;
      }

      #carrousel-personnages .image-personnage:first-of-type {
          padding-left: max(15vw, calc((100vw - 600px) / 2));
      }

      #carrousel-personnages .image-personnage:last-of-type {
          padding-right: max(15vw, calc((100vw - 600px) / 2));
      }

      #description-carrousel {
          padding: 0 16px;
      }

      #description-carrousel .contenu-personnage {
          display: none;
      }

      #description-carrousel h4 {
          margin: 16px 0 0 0;
          font-size: 0.42em;
      }

      #description-carrousel h5 {
          margin: 0;
          font-size: 0.6em;
      }

      #description-carrousel p {
          margin: 24px 0 0 0;
          font-size: 0.42em;
      }

block append script
  script(src='/assets/scripts/carrousel-personnages.js')

mixin carrouselPersonnages(personnages, avecFleches = true, avecDescription = true, rotationAutomatique = false)
  .conteneur-carrousel(role="region" aria-roledescription="carousel" aria-label="Personnages de la campagne")
    .carrousel#carrousel-personnages(aria-atomic=false aria-live=(rotationAutomatique ? 'off' : 'polite'))
        each p in personnages
          img(
            src=`/assets/images/personnages/${p.idImage}.svg`
            alt=""
            tabindex="0"
            aria-roledescription="slide"
            aria-label=p.nom
          ).image-personnage
    .filtre-carrousel
  if(avecFleches)
    .carrousel-navigation
      button.fleche.fleche-gauche(aria-label="Slide précédente")
        img(src="/assets/images/fleche-gauche-blanche.svg" alt="Flèche gauche")
      button.fleche.fleche-droite(aria-label="Slide suivante")
        img(src="/assets/images/fleche-droite-blanche.svg" alt="Flèche droite")
  if(avecDescription)
    #description-carrousel
        each p, idx in personnages
          .contenu-personnage(data-id-personnage=idx)
            h4= `${p.nom}, ${p.age} ans`
            h5= p.poste
            p= p.accroche
            p= p.description