section.cyberenjeux
    dsfr-container
        h2.fr-h1 Découvrez les CyberEnJeux
        .grille
            h3.fr-h2 Former à la cybersécurité par le jeu&nbsp;!
            p L’ANSSI, en partenariat avec le ministère de l’Éducation nationale ont créé «&nbsp;CyberEnJeux&nbsp;»,&#32;
                strong un dispositif pédagogique innovant pour former à la cybersécurité par le jeu.
                br
                br
                | Au-delà de la sensibilisation aux risques numériques et aux bonnes pratiques individuelles,&#32;
                strong CyberEnJeux vise à acculturer les élèves à plusieurs enjeux importants relatifs à la cybersécurité&nbsp;:&#32;
                | le cyberespace, les cyberattaques, la cryptographie, la gestion des risques cyber, etc.
                br
                br
                | Dans le cadre de CyberEnJeux, la création de jeux par les élèves constitue donc un moyen d’apprentissage et non un objectif en soi.

            .actions
                dsfr-button(
                    label="Découvrir CyberEnJeux"
                    kind="primary"
                    markup="a"
                    href="/cyber-en-jeux"
                    target="_self"
                )
                dsfr-button(
                    label="Explorer les jeux des élèves"
                    kind="secondary"
                    markup="a"
                    href="/cyber-en-jeux#vitrine-des-jeux"
                    target="_self"
                )

            img(src='/assets/images/boites-de-jeux-avec-blob.avif' alt='CyberEnJeux')
