section(class='selections fonce')
    dsfr-container
        h2 Nos sélections pour vous guider
        .cartes
            dsfr-card(
                title="Sensibiliser les élèves à la cybersécurité"
                description="Des ressources clés-en-main pour acculturer vos élèves, les guider vers des formations reconnues et monter en compétences vous aussi sur les enjeux du numérique sécurisé."
                href="/selection-enseignants"
                has-badge="true"
            )
                div(slot="badgesgroup")
                    dsfr-badges-group(badges='[{ "label": "sélection enseignants", "accent": "blue-cumulus"}]')
            dsfr-card(
                title="Découvrir la cybersécurité et ses enjeux"
                description="Témoignages inspirants, podcasts captivants, tests pour s’orienter et des formations pour se lancer. Un véritable concentré de ressources pour explorer les métiers cyber et trouver sa voie."
                href="/selection-eleves"
                has-badge="true"
            )
                div(slot="badgesgroup")
                    dsfr-badges-group(badges='[{ "label": "sélection élèves", "accent": "green-bourgeon"}]')
