section.soutiens
    dsfr-container
        h2 Les soutiens officiels au lancement
        ul
            li
                img(src='/assets/images/soutiens/CNED.avif' alt='CNED')
            li
                img(src='/assets/images/soutiens/ComCyber.avif' alt="ComCyber")
            li
                img(src='/assets/images/soutiens/ComCyberGend.avif' alt="ComCyberGend")
            li
                img(src='/assets/images/soutiens/CyberMalveillance.avif' alt="CyberMalveillance")
            li
                img(src='/assets/images/soutiens/DGE.avif' alt="DGE")
            li
                img(src='/assets/images/soutiens/DINUM.avif' alt="DINUM")
            li
                img(src='/assets/images/soutiens/DITP.avif' alt="DITP")
            li
                img(src='/assets/images/soutiens/PIX.avif' alt="PIX")
            li
                img(src='/assets/images/soutiens/France2030.avif' alt="France 2030")
        .actions
            dsfr-button(
                label="Devenir un relai"
                kind="secondary"
                markup="a"
                href="/devenir-relai"
                target="_self"
            )
