section(class='soutiens')
    dsfr-container
        h2 Les soutiens officiels au lancement
        ul
            li
                img(src='/assets/images/soutiens/CNED.svg' alt='CNED')
            li
                img(src='/assets/images/soutiens/ComCyber.svg' alt="ComCyber")
            li
                img(src='/assets/images/soutiens/ComCyberGend.png' alt="ComCyberGend")
            li
                img(src='/assets/images/soutiens/CyberMalveillance.svg' alt="CyberMalveillance")
            li
                img(src='/assets/images/soutiens/DGE.svg' alt="DGE")
            li
                img(src='/assets/images/soutiens/DINUM.svg' alt="DINUM")
            li
                img(src='/assets/images/soutiens/DITP.svg' alt="DITP")
            li
                img(src='/assets/images/soutiens/PIX.svg' alt="PIX")
            li
                img(src='/assets/images/soutiens/France2030.svg' alt="France 2030")
        .actions
            dsfr-button(
                label="Devenir un relai"
                kind="secondary"
                markup="a"
                href="/devenir-relai"
                target="_self"
            )
