block variables
  - var titrePage = ""
  - var descriptionPage = ""

header.entete
    dsc-entete(sans-navigation=sansNavigation || false sans-zone-identification=sansZoneIdentification || false)
    block heros
        dsc-heros(
          ariane= ariane || []
          avec-filtres= herosAvecFiltres
        )
          h1.inverse(slot="titre") #{titrePage}
          p.fr-text--lead.inverse(slot="description") #{descriptionPage}
