block variables
  - var titrePage = "DemainSpécialisteCyber"
  - var descriptionPage = ""
  - var classePage = undefined

doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title DemainSpécialisteCyber
    script(defer src=`/${dsc}` nonce= nonce)
    link(rel="stylesheet" type="text/css" href=`/${style}`)
    if matomo
      script(type="module" src="/scripts/matomo.js" data-id-site-matomo=`${matomo.identifiant}` id="script-matomo")
      script(type="module" src="/scripts/matomoTagManager.js" data-url-tag-manager-matomo=`${matomo.tagManager}` id="script-matomo-tag-manager")

  body(class= classePage)
    include ./entete
    block avant-contenu
    main
      block contenu
    block apres-contenu
    include ./pied-de-page

    script(
      src='https://lab-anssi-ui-kit-prod-s3-assets.cellar-c2.services.clever-cloud.com/1.28.0/lab-anssi-ui-kit.iife.js'
      nonce= nonce
    )
