extends fragments/base

block variables
  - var titrePage = "Événements cyber"
  - var descriptionPage = "Visualisez l’ensemble des initiatives éducatives en cybersécurité."
  - var classePage = "page-evenements"
  - var ariane = []
  - ariane[0] = { id: 'accueil', label: 'Accueil', href: '/' }
  - ariane[1] = { id: 'evenements', label: 'Événements cyber', href: '#' }

block contenu
    dsfr-container
        .evenements
            dsfr-button(
                markup="a"
                href="https://grist.numerique.gouv.fr/o/docs/forms/pqCUgkBSQrZcpoTv8F9aCg/27"
                label="Déclarer une action"
                target="_blank"
                kind="secondary"
            )
            iframe(
                sandbox
                width="100%"
                height="740px"
                frameborder="0"
                allowfullscreen
                src="//umap.incubateur.anct.gouv.fr/fr/map/les-actions-scolaires-de-cybersecurite-2025-2026_3158?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=true&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true&datalayers=16d11358-b1e1-46e0-afe0-4450d85cb56c%2Cb45ad206-868a-4486-9ea3-48ca08d1cabf%2C69ff8282-e705-4b3e-aec0-bcbe4d70ee37&locateControl=false&measureControl=false&editinosmControl=false&printControl=false#6/46.995/2.208"
            )
            .declaration-action.sombre
                .conteneur
                    h3 Déclarer une action
                    p.fr-text--lg Faites découvrir la cybersécurité autrement&nbsp;! En déclarant votre séquence, vous profitez d’un accompagnement et valorisez votre engagement pour une éducation au numérique plus ludique et participative.
                    dsfr-button(
                        markup="a"
                        href="https://grist.numerique.gouv.fr/o/docs/forms/pqCUgkBSQrZcpoTv8F9aCg/27"
                        label="Déclarer une action"
                        target="_blank"
                        kind="inverted-primary"
                    )
