extends fragments/base

block variables
  - var titrePage = "Événements cyber"
  - var descriptionPage = "Visualisez l’ensemble des initiatives éducatives en cybersécurité."
  - var classePage = "page-evenements"

block contenu
    dsfr-container
        .evenements
            iframe(
                width="100%"
                height="740px"
                frameborder="0"
                allowfullscreen
                allow="geolocation"
                src="//umap.incubateur.anct.gouv.fr/fr/map/suivi-du-challenge-national-passe-ton-hack-2026_2679?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=false&searchControl=true&tilelayersControl=null&embedControl=true&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true&homeControl=true&locateControl=true#6/46.995/2.208"
            )
            .declaration-action.fonce
                .conteneur
                    h3 Déclarer une action
                    p Faites découvrir la cybersécurité autrement&nbsp;! En déclarant votre séquence, vous profitez d’un accompagnement et valorisez votre engagement pour une éducation au numérique plus ludique et participative.
                    dsfr-button(
                        markup="a"
                        href="https://grist.numerique.gouv.fr/o/docs/forms/pqCUgkBSQrZcpoTv8F9aCg/27"
                        label="Déclarer une action"
                        target="_blank"
                        kind="inverted-primary"
                    )
