extends base
block variables
  - var titrePage = "Demain Spécialiste Cyber"
  - var descriptionPage = "Promouvoir la formation des élèves à la cybersécurité et la découverte de ses métiers !"
  - var classePage = "page-accueil"

block hero
  div(class="hero fonce")
    dsfr-container
      div(class="conteneur")
        hgroup
          h1.titre-alternatif-xs Demain&ZeroWidthSpace;Spécialiste&ZeroWidthSpace;Cyber
          p Promouvoir la formation des élèves à la cybersécurité et la découverte de ses métiers !
        div(class="actions")
          dsfr-button(
            label="Découvrir CyberEnJeux"
            kind="inverted-primary"
            markup="a"
            href="/cyber-en-jeux"
            target="_self"
          )
          dsfr-button(
            label="Explorer les ressources"
            kind="inverted-secondary"
            markup="a"
            href="/catalogue"
            target="_self"
          )


block contenu
  section(class='intro')
    h2 La cybersécurité, un enjeu d’avenir&nbsp;!
    p Accédez à un catalogue de ressources pensé pour découvrir et comprendre les enjeux de la cybersécurité, que vous soyez élève, enseignant ou parent.
    div(class='carrousel')
      dsfr-card(
        title="Former vos élèves à la cybersécurité par le jeu"
        href="#"
        src="/assets/images/carte-cyber-en-jeux.svg"
        has-detail-start="true"
        detail-start="CyberEnJeux"
      )
      dsfr-card(
        title="Appendre la cybersécurité en équipe et en challenge"
        href="#"
        src="/assets/images/carte-passe-ton-hack.png"
        has-detail-start="true"
        detail-start="Passe ton Hack d'abord"
      )
      dsfr-card(
        title="Sensibiliser aux risques numériques par le jeu"
        href="#"
        src="/assets/images/carte-fresque-cybercitoyens.jpg"
        has-detail-start="true"
        detail-start="Fresque du cybercitoyen"
      )
    dsfr-button(
        label="Explorer plus de ressources"
        kind="secondary"
        markup="a"
        href="/catalogue"
        target="_self"
    )

block apres-contenu
    include ./selections
    include ./encart-cyberenjeux
    include ./chiffres-cles
    include ./soutiens
