doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title DemainSpécialisteCyber
        link(rel="stylesheet" type="text/css" href=`/${style}`)
        link(
            href=`https://lab-anssi-ui-kit-prod-s3-assets.cellar-c2.services.clever-cloud.com/${versionUIKit}/dsfr-variables.css`
            rel="stylesheet"
            nonce= nonce
        )
        if matomo
            script(type="module" src="/scripts/matomo.js" data-id-site-matomo=`${matomo.identifiant}` id="script-matomo")
            script(type="module" src="/scripts/matomoTagManager.js" data-url-tag-manager-matomo=`${matomo.tagManager}` id="script-matomo-tag-manager")

    body(class= classePage)
        p Le site est en maintenance
        include ./pied-de-page

        script(
            src=`https://lab-anssi-ui-kit-prod-s3-assets.cellar-c2.services.clever-cloud.com/${versionUIKit}/lab-anssi-ui-kit.iife.js`
            nonce= nonce
        )
