extends fragments/base

block variables
  - var titrePage = `Inscription sur ${titreDSC}`
  - var classePage = "non-autorise"
  - var sansNavigation = true
  - var sansZoneIdentification = true

block contenu
    dsfr-container
      .conteneur
        .encadre
          .erreur
            dsfr-alert(
              hasTitle="false"
              hasDescription="true"
              text=`Oups ! Vous ne pouvez pas vous créer de compte sur ${titreDSC}.`
              type="error"
              icon="error"
            )
            p
              | L’adresse e-mail saisie ne semble pas être associée à un établissement autorisé à se connecter à #{titreDSC}.
              | N'hésitez pas à nous contacter pour obtenir de l’aide.
            .contact
              dsfr-link(href='mailto:contact@demainspecialistecyber.beta.gouv.fr', label='contact@demainspecialistecyber.beta.gouv.fr')
